@model CareContractListViewModel

@{
    ViewData["Title"] = " | Nurse ";
    Layout = "_Layout_Nurse";

    //aliases to make paging and sorting code shorter;
    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<head>

    <link rel="stylesheet" href=~/css/style.css />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>





<h2>Care Visits</h2>
<div class="row">
    <div class="col-9">
        <form asp-action="Search" method="post" class="form-inline">
            
                <div>
                    
                    <input class="form-control" data-toggle="tooltip" data-placement="top" title="Email Field, e.g YourName@domain.com" placeholder="Search by Patient Name" />
                    <button type="submit" class="btn btn-primary mr-2">Search</button>
                </div>
                      
        
            
        </form>
    </div>
</div>


<table class="table table-striped table-hover align-content-center">
    <thead>
        <tr>
            <th>
                Visit Date
            </th>
            <th>
                Approximate Arrival Time
            </th>
            <th>Actual Arrival Time</th>
            <th>Depart Time</th>
            <th>Notes</th>
            <th>Wound Description</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var care in Model.CareContracts)
        {
            // int num = medication.MedicationIngredients.Where(s => s.MedicationID == medication.MedicationID).Select(v => v.ActiveIngredientID).FirstOrDefault();

            <tr>
                <td>@care.ContractDate </td>
                <td>@care.PatientUserID</td>
                <td>@care.ImageData</td>
                <td>@care.WoundDescription</td>
                <td>@care.AddressLine1 + @care.AddressLine2</td>
                <td>@care.City</td>
                <td>@care.Province</td>
                <td></td>


                @*<td>
                            @foreach (var med in Nurse.Department)
                            {
                                //  <span>@med.ActiveIngredients.Where(s=>s.ActiveIngredientID==med.ActiveIngredientID).Select(n=>n.Name)</span>
                                <span>@med.GetActiveIngredient().Name</span>
                                <span>@med.Strengths</span>
                            }

                    </td>*@


                @*/// <td>@medication.MedicationIngredients.</td>*@
                <td></td>

                <td>
                    <a asp-controller="CareContract" asp-action="Edit"
                       asp-route-id="@care.ContractNumberID">Details</a>
                    
                <td>
            </tr>
        }
    </tbody>
    </tbody>

</table>

@{
    routes = Model.CurrentRoute.Clone(); // Reset to current route values *@
    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="List" asp-all-route-data="@routes"
           class="btn btn-primary @Nav.Active(i, current.PageNumber)">@i</a>
    }
}




